$white: #FFF;
$black: #000;

$primary: #00A870;
$secondary: #5E20A4;
$error: #fa1f2f;

$green-700: #00C88C;

$grey-100: #F2F2F2;
$grey-300: #DFDFDF;
$grey-600: #4A4A4A;
$grey-700: #3D3D3D;

$pink-600: #C86DD7;
$purple-500: #7E49C3;
$purple-700: #5912AC;