@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;500&display=swap');

$font-size-xs: 12px;
$font-size-sm: 14px;
$font-size-md: 16px;
$font-size-lg: 18px;
$font-size-xl: 22px;
$font-size-xxl: 28px;


$font-size-subtitle: 18px;
$font-size-title: 40px;

$font-weight-bold: 500;